{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <h1>Consultorios</h1>
    <div class="row">
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Doctor General</h5>
                <p class="card-text">hola</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Dentista</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Pediatria</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Geriatria</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Ginecologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Lab. Clinico</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">Especialidades</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
    </div>
    
{% endblock content %}