{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <h1>Consultorios</h1>
    <div class="row">
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">MÉDICO GENERAL</h5>
                <p class="card-text"> Se encarga de diagnosticar y cuidar pacientes en casos rutinarios, y 
                    usualmente refiere a las personas a especialistas cuando se requiere de tratamientos
                     específicos.</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">ODONTOLOGÍA</h5>
                <p class="card-text">Especialidad médica que se dedica al estudio de los dientes y las
                     encías y al tratamiento de sus dolencias. </p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">PEDIATRÍA</h5>
                <p class="card-text">Rama de la medicina que se especializa en la salud y las enfermedades de los niños.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">GERIATRÍA</h5>
                <p class="card-text">Rama de la medicina que se preocupa de los problemas y enfermedades de los adultos mayores,
                     cómo prevenirlas y manejarlas, y del proceso de envejecer. No sólo del aspecto médico, sino también de 
                     aspectos sicológicos y sociales que habitualmente acompañan este proceso.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">GINECOLOGÍA</h5>
                <p class="card-text">Especialidad de la medicina dedicada al cuidado del sistema reproductor femenino. Los ginecólogos,
                     por lo tanto, son los especialistas que atienden las cuestiones vinculadas al útero, la vagina y los ovarios.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">LABORATORIO CLÍNICO</h5>
                <p class="card-text">Es una especialidad médica básica, perteneciente al grupo de las que se denominan comúnmente 
                    medios de diagnóstico</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <img src="url ('{% static 'pacientes/img/2.JPG' %}')" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">ESPECIALIDADES</h5>
                <p class="card-text">Conjunto de conocimientos médicos especializados relativos a un área específica del cuerpo humano,
                     a técnicas quirúrgicas específicas o a un método diagnóstico determinado.</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
    </div>
    
{% endblock content %}