{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <h1>Consultorios</h1>
    <div class="row">
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">ANATOMÍA PATOLÓGICA</h5>
                <p class="card-text">Rama de la Medicina que se ocupa por medio 
                    de técnicas morfológicas del estudio de las causas, desarrollo y consecuencias de las 
                    enfermedades. Su fin último es el diagnóstico correcto de biopsias, piezas quirúrgicas, 
                    citologías y autopsias.</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">ALERGOLOGÍA</h5>
                <p class="card-text">Especialidad encargada del diagnóstico y tratamiento de las enfermedades de 
                    base alérgica, entre las que destaca la alergia respiratoria (asma y rinoconjuntivitis alérgica),
                     la alergia a alimentos, a los fármacos, al veneno de himenópteros (abeja  y avispa), y la urticaria 
                     y dermatitis de contacto de origen alérgico.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">CARDIOLOGÍA</h5>
                <p class="card-text">Rama de la medicina que se especiliza en el diagnóstico y tratamiento de enfermedades 
                    del corazón, los vasos sanguíneos y el sistema circulatorio. Estas enfermedades incluyen enfermedad de la 
                    arteria coronaria, problemas del ritmo del corazón e insuficiencia cardíaca.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">UROLOGÍA</h5>
                <p class="card-text">Tiene como ámbito anatómico de actuación el riñón y sus estructuras adyacentes,
                     las vías urinarias y el aparato genital masculino, atendiendo las disfunciones de los siguientes órganos y 
                     estructuras: glándula suprarrenal, riñón, retroperitoneo y región lumbar, uréter, vejiga, próstata, vía 
                     seminal, uretra, estructuras del suelo pelviano, pene, escroto, testículo y epidídimo.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">NEUMONOLOGÍA</h5>
                <p class="card-text">Es la rama de la Medicina Interna que se encarga de estudiar y tratar padecimientos agudos 
                    y crónicos que afectan al sistema respiratorio.</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">NEUROLOGIA</h5>
                <p class="card-text">Es la especialidad médica que estudia la estructura, función y desarrollo
                        del sistema nervioso (central, periférico y autónomo) y muscular en estado normal y
                        patológico, utilizando todas las técnicas clínicas e instrumentales de estudio,
                        diagnóstico y tratamiento actualmente en uso o que puedan desarrollarse en el futuro. </p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">OFTALMOLOGÍA</h5>
                <p class="card-text">Es la especialidad médica encargada del estudio y tratamiento de las enfermedades
                     del ojo y estructuras perioculares.</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">REUMATOLOGÍA</h5>
                <p class="card-text">Especialidad médica que se encarga de prevenir, diagnosticar y tratar las enfermedades
                     musculoesqueléticas  y autoinmunes sistémicas.</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">TRAUMATOLOGÍA</h5>
                <p class="card-text">Rama de la medicina que se especializa en los traumatismos y en sus consecuencias. 
                    Los expertos en traumatología, conocidos como traumatólogos, estudian las lesiones que se producen en 
                    el aparato locomotor.</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
    </div>
    
{% endblock content %}