{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <h1>Consultorios</h1>
    <div class="row">
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Anatomia Patologica</h5>
                <p class="card-text">hola</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Alergologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cardiologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Cirugia Cardiaca</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Neumonologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Neurologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Oftalmologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Reumatologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
        <div class="card col-sm-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Traumatologia</h5>
                <p class="card-text">hola</p>
                <a href="#" class="btn btn-primary ">Ver mas...</a>
            </div>
        </div>
    </div>
    
{% endblock content %}